@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,700&family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,200;0,300;1,100&family=Roboto+Serif:opsz,wght@8..144,100&display=swap");

body {
  background: linear-gradient(to bottom right, #570a57, #a91079);

}
* {
  margin: 0;
  padding: 0;
}
